<html>
  <body>
    <h1><%= title %></h1>
    <ul>
        <% messages.forEach((message, index) => { %>
            <li>
            <strong><%= message.user %></strong>: <%= message.text %>
            <%= message.added.toLocaleString() %>
            <a href="/messages/<%= index %>">Open</a>
            </li>
        <% }) %>
    </ul>
    <a href="/new">Post a new message!</a>
  </body>
</html>